In [3]:
import requests
import pandas as pd
import numpy as np
import json
import regex as re
pd.set_option('display.max_columns', 500)

In [4]:
def get_request(endpoint, parameters=dict()):
    api_url = 'https://api.census.gov/data/'
    response = requests.get(api_url + endpoint, parameters)
    if response.status_code != 200:
        print("Request to {} failed. Error code {}:{}".format(api_url + endpoint, response.status_code, response.text))
    
    response = json.loads(response.text)
    return response

In [ ]:
# record possibilites for variables
# var_file = open('variable_possibilites.txt', 'w')

In [ ]:
## Retrieve subject level variables (parameters for api)
url ='/acs/acs1/subject/variables.json'
response = get_request(str(2019) + url)
variables = response['variables']

# Retrieve profile of data variables
url ='/acs/acs1/profile/variables.json'
response = get_request(str(2019) + url)
variables.update(response['variables'])

In [ ]:
# Retrieve the list of education attainment variables by age
education = list()
for var in variables.keys():
    edu_str = re.compile('^estimate!!percent!!age by educational attainment!!.+(18 to 24|25 years).+!!')  #regex for educational attainment
    if bool(re.match(edu_str, variables[var]['label'].lower())):
        education.append(var)
        print(var, variables[var]['label'])
print(len(education))

S1501_C02_007E Estimate!!Percent!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Less than 9th grade
S1501_C02_008E Estimate!!Percent!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!9th to 12th grade, no diploma
S1501_C02_005E Estimate!!Percent!!AGE BY EDUCATIONAL ATTAINMENT!!Population 18 to 24 years!!Bachelor's degree or higher
S1501_C02_003E Estimate!!Percent!!AGE BY EDUCATIONAL ATTAINMENT!!Population 18 to 24 years!!High school graduate (includes equivalency)
S1501_C02_004E Estimate!!Percent!!AGE BY EDUCATIONAL ATTAINMENT!!Population 18 to 24 years!!Some college or associate's degree
S1501_C02_002E Estimate!!Percent!!AGE BY EDUCATIONAL ATTAINMENT!!Population 18 to 24 years!!Less than high school graduate
S1501_C02_009E Estimate!!Percent!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!High school graduate (includes equivalency)
S1501_C02_015E Estimate!!Percent!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Bachelor's degree or higher
S1501_C02_013E Estimate!!Percent!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Graduate or professional degree
S1501_C02_014E Estimate!!Percent!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!High school graduate or higher
S1501_C02_011E Estimate!!Percent!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Associate's degree
S1501_C02_012E Estimate!!Percent!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Bachelor's degree
S1501_C02_010E Estimate!!Percent!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Some college, no degree
13

In [ ]:
print(education)

['S1501_C02_007E', 'S1501_C02_008E', 'S1501_C02_005E', 'S1501_C02_003E', 'S1501_C02_004E', 'S1501_C02_002E', 'S1501_C02_009E', 'S1501_C02_015E', 'S1501_C02_013E', 'S1501_C02_014E', 'S1501_C02_011E', 'S1501_C02_012E', 'S1501_C02_010E']

In [ ]:
# Retrieve list of occupation variables by age and occupation category
occupation = list()
for var in variables.keys():
    occupation_re = re.compile('^estimate!!percent (male|female)!!civilian employed population 16 years and over($|!!.+:$)')
    cat_str = 'OCCUPATION BY SEX FOR THE CIVILIAN EMPLOYED POPULATION 16 YEARS AND OVER'
    edu_str = 'employment status'
    # if (edu_str.lower() in variables[var]['label'].lower()) and (cat_str.lower() in variables[var]['concept'].lower()) and (':!!' not in variables[var]['label']):
    if bool(re.match(occupation_re, variables[var]['label'].lower())) and (cat_str.lower() in variables[var]['concept'].lower()) and (':!!' not in variables[var]['label']):
        occupation.append(var)
        print(var, variables[var]['label'])
print(len(occupation))

S2401_C05_029E Estimate!!Percent Female!!Civilian employed population 16 years and over!!Natural resources, construction, and maintenance occupations:
S2401_C05_026E Estimate!!Percent Female!!Civilian employed population 16 years and over!!Sales and office occupations:
S2401_C05_033E Estimate!!Percent Female!!Civilian employed population 16 years and over!!Production, transportation, and material moving occupations:
S2401_C05_018E Estimate!!Percent Female!!Civilian employed population 16 years and over!!Service occupations:
S2401_C05_001E Estimate!!Percent Female!!Civilian employed population 16 years and over
S2401_C05_002E Estimate!!Percent Female!!Civilian employed population 16 years and over!!Management, business, science, and arts occupations:
S2401_C03_001E Estimate!!Percent Male!!Civilian employed population 16 years and over
S2401_C03_002E Estimate!!Percent Male!!Civilian employed population 16 years and over!!Management, business, science, and arts occupations:
S2401_C03_033E Estimate!!Percent Male!!Civilian employed population 16 years and over!!Production, transportation, and material moving occupations:
S2401_C03_018E Estimate!!Percent Male!!Civilian employed population 16 years and over!!Service occupations:
S2401_C03_026E Estimate!!Percent Male!!Civilian employed population 16 years and over!!Sales and office occupations:
S2401_C03_029E Estimate!!Percent Male!!Civilian employed population 16 years and over!!Natural resources, construction, and maintenance occupations:
12

In [ ]:
# Retrieve list of employment status variables 
employment = list()
for var in variables.keys():
    emp_re = re.compile('^percent!!employment status!!population')
    concept_re = 'selected economic characteristics'
    edu_str = 'employment status'
    # if (edu_str.lower() in variables[var]['label'].lower()) and ('and over in the united states' in variables[var]['concept'].lower()):
    if bool(re.match(emp_re, variables[var]['label'].lower())) and bool(re.match(concept_re, variables[var]['concept'].lower())):
        employment.append(var)
        print(variables[var]['label'])
print(len(employment))

Percent!!EMPLOYMENT STATUS!!Population 16 years and over!!In labor force!!Civilian labor force!!Unemployed
Percent!!EMPLOYMENT STATUS!!Population 16 years and over!!In labor force!!Armed Forces
Percent!!EMPLOYMENT STATUS!!Population 16 years and over!!In labor force
Percent!!EMPLOYMENT STATUS!!Population 16 years and over!!In labor force!!Civilian labor force
Percent!!EMPLOYMENT STATUS!!Population 16 years and over!!In labor force!!Civilian labor force!!Employed
Percent!!EMPLOYMENT STATUS!!Population 16 years and over
Percent!!EMPLOYMENT STATUS!!Population 16 years and over!!Not in labor force
7

In [ ]:
income = list()
for var in variables.keys():
    income_re = re.compile("percent!!income and benefits.+!!families!!.+")
    income_str = 'selected economic characteristics'
    label = variables[var]['label'].lower()
    if bool(re.match(income_re, label)) and (income_str.lower() == variables[var]['concept'].lower()) and ('median' not in label) and ('mean' not in label):
        income.append(var)
        print(label)
        
    income_re = re.compile("estimate!!income and benefits.+!!families!!(mean|median).+")
    if bool(re.match(income_re, label)) and (income_str.lower() == variables[var]['concept'].lower()):
        income.append(var)
        print(label)
        
print(len(income))

percent!!income and benefits (in 2019 inflation-adjusted dollars)!!families!!$25,000 to $34,999
percent!!income and benefits (in 2019 inflation-adjusted dollars)!!families!!$150,000 to $199,999
percent!!income and benefits (in 2019 inflation-adjusted dollars)!!families!!$200,000 or more
percent!!income and benefits (in 2019 inflation-adjusted dollars)!!families!!$10,000 to $14,999
percent!!income and benefits (in 2019 inflation-adjusted dollars)!!families!!$75,000 to $99,999
estimate!!income and benefits (in 2019 inflation-adjusted dollars)!!families!!median family income (dollars)
estimate!!income and benefits (in 2019 inflation-adjusted dollars)!!families!!mean family income (dollars)
percent!!income and benefits (in 2019 inflation-adjusted dollars)!!families!!$15,000 to $24,999
percent!!income and benefits (in 2019 inflation-adjusted dollars)!!families!!$100,000 to $149,999
percent!!income and benefits (in 2019 inflation-adjusted dollars)!!families!!$35,000 to $49,999
percent!!income and benefits (in 2019 inflation-adjusted dollars)!!families!!less than $10,000
percent!!income and benefits (in 2019 inflation-adjusted dollars)!!families!!$50,000 to $74,999
12

In [ ]:
data = pd.DataFrame({})
for year in range(2010,2020,1): #2005-2019
    
    #Retrieve all subject variable info from census api
    params = education.copy()
    params.extend(occupation)
    endpoint = '{}/acs/acs1/subject?get=NAME,{}&for=metropolitan%20statistical%20area/micropolitan%20statistical%20area:*'.format(year, ','.join(params))
    results = get_request(endpoint)
    columns = results.pop(0)
    df_subject = pd.DataFrame(results, columns=columns)
    df_subject.set_index('metropolitan statistical area/micropolitan statistical area', inplace=True)
    
    #Retrieve all profile variable data from census api
    params = income.copy()
    params.extend(employment)
    endpoint = '{}/acs/acs1/profile?get=NAME,{}&for=metropolitan%20statistical%20area/micropolitan%20statistical%20area:*'.format(year, ','.join(params))
    results = get_request(endpoint)
    columns = results.pop(0)
    df_profile = pd.DataFrame(results, columns=columns)
    df_profile.drop('NAME', axis=1, inplace=True) #drop redundant columns
    df_profile.set_index('metropolitan statistical area/micropolitan statistical area', inplace=True)
    
    #combine dataframes and add final data
    df = pd.concat([df_subject, df_profile], axis=1)
    df.index.names = ['cbsa']     #replace name with a more common term
    df.reset_index(inplace=True)
    df['year'] = [year] * df.shape[0]      #add year
    data = pd.concat([data, df], ignore_index=True)
    
# Add final touches to final dataset
data['metropolitan_area'] = ['Metro Area' in i for i in data['NAME']]                   #Only use metropolitan areas (urban like)

#Clean up area name
data['NAME'] = [re.sub('( Metro Area| Micro Area)', '', i) for i in data['NAME']]
#Seperate the state and city within NAME for convience
states = list()
cities = list()
for place in data['NAME']:
    m = re.search('(.+), (.+)', place)
    states.append(m.group(2))
    cities.append(m.group(1))
    
data['city'] = cities
data['state'] = states
data.drop('NAME', axis=1, inplace=True)

#replace column codes with actual labels
new_columns = [variables[i]['label'] if (i in variables) else i for i in data.columns]  
data.columns = new_columns

### Retrieve a list of variables

In [12]:
## Retrieve l variables (parameters for api)
url ='/acs/acs1/variables.json'
response = get_request(str(2019) + url)
variables = response['variables']

### Declare the variables for each soicoeconomic category

In [21]:
education_vars = ["B07009_{:03.0f}E".format(i) for i in range(1, 7)]
income_vars = ["B19001_{:03.0f}E".format(i) for i in [1, 10, 11, 12, 13, 14, 15, 16, 17]]
occupation_vars = ["C24050_{:03.0f}E".format(i) for i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 29, 43, 57, 85, 71]]

params = education_vars.copy()
params.extend(income_vars)
params.extend(occupation_vars)
print(params)

total_labels = {"B07009_001E":"Education_Total",
                "B19001_001E":"Income_Total",
                "C24050_001E":"Occupation_Total"}

['B07009_001E', 'B07009_002E', 'B07009_003E', 'B07009_004E', 'B07009_005E', 'B07009_006E', 'B19001_001E', 'B19001_010E', 'B19001_011E', 'B19001_012E', 'B19001_013E', 'B19001_014E', 'B19001_015E', 'B19001_016E', 'B19001_017E', 'C24050_001E', 'C24050_002E', 'C24050_003E', 'C24050_004E', 'C24050_005E', 'C24050_006E', 'C24050_007E', 'C24050_008E', 'C24050_009E', 'C24050_010E', 'C24050_011E', 'C24050_012E', 'C24050_013E', 'C24050_014E', 'C24050_015E', 'C24050_029E', 'C24050_043E', 'C24050_057E', 'C24050_085E', 'C24050_071E']

In [41]:
data = pd.DataFrame({})
for year in range(2005,2020,1): #2005-2019
    
    var_params = params.copy()
    if year >= 2010:
        var_params.remove("C24050_085E")
        
    #Retrieve all the variables
    endpoint = '{}/acs/acs1/?get=NAME,{}&for=metropolitan%20statistical%20area/micropolitan%20statistical%20area:*'.format(year, ','.join(var_params))
    results = get_request(endpoint)
    columns = results.pop(0)
    
    #account for inconcsistent variables in occupations
    if year < 2010:
        #switch variable 85 with 71
        cat_85 = columns.index("C24050_085E")
        cat_71 = columns.index("C24050_071E")
        columns.pop(cat_85)
        columns.insert(cat_71, "C24050_085E")
        
    
    df = pd.DataFrame(results, columns=columns)
    df.set_index('metropolitan statistical area/micropolitan statistical area', inplace=True)
    
    #combine dataframes and add final data
    df.index.names = ['cbsa']     #replace name with a more common term
    df.reset_index(inplace=True)
    df['year'] = [year] * df.shape[0]      #add year
    data = pd.concat([data, df], ignore_index=True)

data["C24050_085E"] = data["C24050_085E"].fillna(0)
data["C24050_071E"] = [int(i) + int(j) if i else i for i,j in zip(data["C24050_071E"], data["C24050_085E"])]    
data.drop("C24050_085E", axis=1, inplace=True)
    
# Add final touches to final dataset
data['metropolitan_area'] = ['Metro Area' in i for i in data['NAME']]                   #Only use metropolitan areas (urban like)

#Clean up area name
data['NAME'] = [re.sub('( Metro Area| Micro Area)', '', i) for i in data['NAME']]
#Seperate the state and city within NAME for convience
states = list()
cities = list()
for place in data['NAME']:
    m = re.search('(.+), (.+)', place)
    states.append(m.group(2))
    cities.append(m.group(1))
    
data['city'] = cities
data['state'] = states
data.drop('NAME', axis=1, inplace=True)

#replace column codes with actual labels
new_columns = list()
for i in data.columns:
    if i in total_labels:
        new_columns.append(total_labels[i])
    elif i in variables:
        new_columns.append(variables[i]['label'].replace(':', '').replace('Estimate!!Total!!', ''))
    else:
        new_columns.append(i)
data.columns = new_columns
    
data.head()

,cbsa,Education_Total,Less than high school graduate,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Income_Total,"$45,000 to $49,999","$50,000 to $59,999","$60,000 to $74,999","$75,000 to $99,999","$100,000 to $124,999","$125,000 to $149,999","$150,000 to $199,999","$200,000 or more",Occupation_Total,"Agriculture, forestry, fishing and hunting, and mining",Construction,Manufacturing,Wholesale trade,Retail trade,"Transportation and warehousing, and utilities",Information,"Finance and insurance, and real estate, and rental and leasing","Professional, scientific, and management, and administrative, and waste management services","Educational services, and health care and social assistance","Arts, entertainment, and recreation, and accommodation and food services","Other services, except public administration",Public administration,"Management, business, science, and arts occupations",Service occupations,Sales and office occupations,"Natural resources, construction, and maintenance occupations","Production, transportation, and material moving occupations",year,metropolitan_area,city,state
0,42020,157954,17931,36200,56453,30748,16622,101996,5381,7850,12736,11474,7147,4874,3870,2777,113211,3883,10115,7605,1875,14264,4116,3117,6070,9230,24347,14527,6210,7852,39177,24745,28169,1572,19548.0,2005,True,San Luis Obispo-Paso Robles,CA
1,42060,239688,44202,49602,69225,47712,28947,137727,5981,10413,13843,19635,10186,6546,5995,8589,178441,10821,15076,17428,6306,17120,5583,4382,11673,19975,39119,15638,9643,5677,63183,28227,43358,7752,35921.0,2005,True,Santa Barbara-Santa Maria,CA
2,42100,157908,20632,25337,51476,36968,23495,93076,4450,8162,8153,12587,8916,4373,6065,5814,127415,5507,12856,11887,4227,13128,2783,1972,6530,14561,32144,10887,6687,4246,50288,20807,31218,2898,22204.0,2005,True,Santa Cruz-Watsonville,CA
3,42140,97058,12164,23189,22194,20442,19069,52799,2430,4047,4370,6047,2945,1829,1966,2905,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,NaN,2005,True,Santa Fe,NM
4,42220,303625,42201,66246,101301,59744,34133,177212,6001,17420,20539,23954,16185,8942,8811,7617,221625,4514,20566,25447,6163,24847,8978,4722,17360,24070,43677,22354,10372,8555,84157,39171,50601,2595,45101.0,2005,True,Santa Rosa-Petaluma,CA

In [44]:
#Store all the metropolitcan areas (urban like) as data
data.dropna(axis=0, thresh=34, inplace=True)
data[data['metropolitan_area']==True].to_csv('acs_survey.csv', index=False)
data[data['metropolitan_area']==True].shape

(5143, 39)

In [45]:
data[data['metropolitan_area'] == True].isnull().sum().sum()

0